* {
  margin: 0;
  box-sizing: border-box;
}

::-webkit-input-placeholder { /* Edge */
    font-weight: 600;
    color: #333333;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-weight: 600;
    color: #333333;
}

::placeholder {
    font-weight: 600;
    color: #333333;
}
.LoginFormWrap{
  width:500px;
  }
.RegisterFormWrap{
  width:60vw;
  }
  .FormInputCstWrap{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  }
@media screen and (max-width: 768px) {
  .LoginFormWrap{
  width: 80vh;
  }
  .RegisterFormWrap{
  width: 80vh;
  }
    .FormInputCstWrap{
  grid-template-columns: repeat(1, 1fr);
  }
}
